@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body {
  font-family: 'Sen', sans-serif;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1140px;
}